<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
   AUTOR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">AUTOR</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>INFORMACION</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Aplicacion desarrollada por francisco espinosa dzul. a continuacion puede consultar mas informacion.
    </ion-card-content>
    <ion-list>
      
      <ion-button color="ffffff" routerLink="/curriculum">
        <ion-icon  name="document-text-outline"></ion-icon>
      <ion-item>
        
        
        <ion-icon  name="document-text-outline"></ion-icon>
         CURRICULUM
        
      </ion-item>
    </ion-button>
      <ion-item >
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label >Franciscoe676@gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-label>francisco@twitter</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>994857646</ion-label>
      </ion-item>
      
    </ion-list>
  </ion-card>
 
    
</ion-content>

